body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;

	margin: 0;
	padding: 0;
	background-color: f4f4f4f4;
}
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}
header {
background-color: #663604;
width: 100%;
text-align: center;

}
header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;
}
header ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: center;
	width: 100%;

}
header ul li {
	display: inline-block;
	padding: 0 20px 0 20px;
}

header nav {
	margin-bottom: 10px;
	margin-top: 10px;
}

@media screen and (max-width: 1186px) {
.navigacija {
	text-align: left;
	display: none;
	border-style: outset;
	font-size: 20px;
	font-style: italic;
}
.navigacija > li {
	display: block;

}
.nav-btn {
	display: block;
	background-color: #663604;
	color: white;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
}
.nav-btn:before {
	content: "MENIU"
}



}

header .highlight, header .current {
	color: orange;
	font-weight: bold;

}
header a:hover {
	font-weight: bold;
}

#NuotraukaDidele {
	min-height: 250px;
	background:url("../images/LOGO.png") no-repeat ;
	margin-bottom: 0;
}

#Langeliai {
	margin-top: 20px;
	background-color: #663604;

}
#Langeliai .Langelis {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}
#Langeliai .Langelis img{
width: 300px;
height: 250px;
border: 7px solid black;
}

#Langeliai1 {
	margin-top: 20px;
	background-color: #663604;

}
#Langeliai1 .Langelis1 {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}
#Langeliai1 .Langelis1 img{
width: 300px;
height: 250px;
border: 7px solid black;
}
footer {
	padding: 20px;
	margin-top: 20px;
	color: white;
	background-color: #663604;
	text-align: center;

}
#Langeliai a {
		color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
}
#Langeliai1 a {
		color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
}
#Langeliai a:hover {
	color: red;
	font-weight: bold;

}
#Langeliai1 a:hover {
	color: red;
	font-weight: bold;

}

#container {
	width: 40%;
	height: 600px;
	border: 7px solid black;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}
#container img {
	width: 100%;
	height: 100%;
	position: absolute;
}
#container button {
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 25px;
	top: 300px;
	background: black;
	color: white;
	font-size: 20px;

}
#container #btn1:hover {
background: red;

}
#container #btn1 {
	margin-left: 10px;
}
#container #btn2 {
	position: relative;
	float: right;
	margin-right: 10px;
}
#container #btn2:hover {
background: red;
}
#container1 {
background-color: #663604 ;
margin: 0px;
}
#uzrasas{
	padding: 6px 20px 6px 20px;
	color: white;
	text-align: center;
}
#aplinka {
	background-color: #663604;
}
.contact-form {
    margin-top:70px;
}
#linkas {
	color: blue;
	font-weight: bold;
}
#kontaktai {
	text-align: center;
	font-size: 25px; 
	color: white;

}
.content {
	background-color: #663604;

}
address {
	margin-bottom: 200px;
	font-size: 17px;
}
h4 {
	color: white;
}
#betkas {
	width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.cpBtn{
	background-color: #663604;
	border: none;
	float: right;
	margin-top: -43px; 
	padding 0;
	cursor: pointer;
}
